<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="DOConnect"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocConnect"
        tools:targetApi="31">
        <activity
            android:name=".addProfessional"
            android:exported="false" />
        <activity
            android:name=".appLogs"
            android:exported="false" />
        <activity
            android:name=".addCenters"
            android:exported="false" />
        <activity
            android:name=".patientDetails"
            android:exported="false" />
        <activity
            android:name=".centreHome"
            android:exported="false" />
        <activity
            android:name=".adminMain"
            android:exported="false" />
        <activity
            android:name=".map"
            android:exported="false" />
        <activity
            android:name=".viewCenter"
            android:exported="false" />
        <activity
            android:name=".adminHome"
            android:exported="false" />
        <activity
            android:name=".adminNotifications"
            android:exported="false" />
        <activity

            android:name=".adminLogs"
            android:exported="false" />

        <activity
            android:name=".manageAppointments"
            android:exported="false" />
        <activity
            android:name=".doctorViewAppointmentsList"
            android:exported="false" />
        <activity
            android:name=".centerNotifications"
            android:exported="false" />
        <activity
            android:name=".bookAppointment"
            android:exported="false" />
        <activity
            android:name=".chatBox"
            android:exported="false" />
        <activity
            android:name=".upcommingAppointment"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".searchUsers"
            android:exported="false" />
        <activity
            android:name=".selectAppointmentDate"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".paymentSummary"
            android:exported="false" />
        <activity
            android:name=".cancelAppointment"
            android:exported="false" />
        <activity
            android:name=".videoCall"
            android:exported="false" />
        <activity
            android:name=".voiceCall"
            android:exported="false" />
        <activity
            android:name=".setWorkingHours"
            android:exported="false" />
        <activity
            android:name=".signupOptions"
            android:exported="false" />
        <activity
            android:name=".editCenterProfile"
            android:exported="false" />
        <activity
            android:name=".editDoctorProfile"
            android:exported="false" />
        <activity
            android:name=".editPatientProfile"
            android:exported="false" />
        <activity
            android:name=".centerProfile"
            android:exported="false" />
        <activity
            android:name=".doctorProfile"
            android:exported="false" />
        <activity
            android:name=".patientProfile"
            android:exported="false" />
        <activity
            android:name=".signupCenter"
            android:exported="false" />
        <activity
            android:name=".signupDoctor"
            android:exported="false" />
        <activity
            android:name=".signupPatient"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCrmREiQ30QCg4mQVmdFdeMFTLeA1k8LA8" />
    </application>

</manifest>